@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-gray-darkest;
}

h1 {
  @apply text-3xl leading-8;
}

h2 {
  @apply text-lg font-medium leading-8;
}

label,
.txt-label {
  @apply text-xs font-light leading-4;
}

p,
.txt-body {
  @apply text-sm font-light leading-6;
}

input[type="password"] {
  font-family: Verdana, sans-serif;
  letter-spacing: 0.125rem;
}

.input {
  @apply px-3 border border-white rounded-xl;

  background: transparent;
  min-height: 40px;
}

textarea {
  @apply py-3;
}

.router-link {
  @apply outline-none;
}

.btn-primary {
  @apply flex items-center justify-center h-10 px-8 text-sm rounded-full bg-pink text-gray-darkest;

  min-width: 160px;

  &:focus {
    box-shadow: 0 0 0 2px white;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn-secondary {
  @apply flex items-center justify-center h-10 px-8 text-sm border-2 rounded-full border-pink text-pink;

  min-width: 160px;
}

.tooltip {
  @apply w-48 p-2 text-xs font-light leading-4 rounded-md bg-gray;
}

.tooltip .tooltip-arrow {
  @apply absolute z-50 w-0 h-0 m-1 border-solid border-gray;
}

.tooltip[x-placement^="top"] {
  @apply mb-1;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes wiggle {
  0% {
    transform: rotate(50deg);
  }

  25% {
    transform: rotate(15deg);
  }

  75% {
    transform: rotate(85deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

.animated-rose {
  animation: wiggle 2s infinite linear;
}
